NEXT_PUBLIC_API_BASE_URL=https://api.circls.app
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAAcZ4HuHi8qLNyPSv8UDwxLScOurbxdx4
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=circls-418b6.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=circls-418b6
NEXT_PUBLIC_FIREBASE_APP_ID=1:899449370946:web:575fec8cce5484d06f70db
